In [1]:
import ipyaladin

In [2]:
import pandas as pd
from astropy.table import QTable

In [3]:
fn = '../RRISA_XMatch/xmatch_log.csv'
df0 : pd.DataFrame = pd.read_csv(fn)

In [4]:
df = (df0[["NAME", "RA.2000", "DEC.2000"]]
    .rename({"RA.2000": "ra", "DEC.2000": "dec", "NAME": "name"}, axis=1))

In [6]:
tbl = QTable.from_pandas(df)

In [7]:
tbl["RRISA_INDEX"] = df.index
tbl

<QTable length=11804>
           name                    ra                 dec         RRISA_INDEX
          str33                 float64             float64          int64
-------------------------- ------------------ ------------------- -----------
               * mu.02 Her 266.77137500000003  27.727027777777767           0
                 * alf Lyr 279.39366666666666  38.804666666666655           1
                HD 164595B  270.3532916666666   29.58163888888889           2
              BD+31  3330B 280.38920833333333  31.558805555555555           3
                  L 1288-4  310.3649999999999   19.95844444444444           4
                 HD 192538            303.682             36.6475           5
                       ...                ...                 ...         ...
                LP  563-39 236.51882916666665   4.689983333333333       11797
                LP  563-39 236.51834166666663   4.690433333333334       11798
                 HD 142930  239.3119333333333              3.4048       11799
[PGZ2001] J160900.7-190852  242.2527416666666 -19.148819444444445       11800
                 HD 145718  243.2988833333333  -22.48511944444445       11801
   2MASS J16225985-2326348          245.74865 -23.443822222222234       11802
                 HD 147384  245.6520583333333  -24.38389166666667       11803

In [8]:
aladin = ipyaladin.Aladin(fov= 180, coo_frame= 'galactic', survey="P/2MASS/color")
aladin

Aladin(coo_frame='galactic', fov=180.0, options=['allow_full_zoomout', 'coo_frame', 'fov', 'full_screen', 'logâ€¦

In [9]:
aladin.add_table(tbl)

/home/jjlee/miniconda3/envs/dev3/lib/python3.9/site-packages/jupyter_client/session.py:716: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)